<h3>Create an Account to Join our Community</h3>

<% if @errors %>
<% @errors.each do |i| %>
<h3 style="color:red;"> <%= i %></h3>
<% end %>
<% end %>

<ul style="list-style-type:none">
<form action = "/join" method = "post">
<li>Create a unique Username: <input type = "text" name = "username" placeholder = "new Username"> </li>
<li>Create a password: <input type = "password" name = "password" placeholder = "cannot be left blank"></li>
<li>Where is your hometown?<input type = "text" name = "hometown"> </li>
<li>Who is your favorite drummer?<input type = "text" name = "favorite_drummer"> </li>
<br><br>
<input type = "submit" value = "Create Account">
</form>
</ul>