<h3>Create an Account to Join our Community</h3>

<ul style="list-style-type:none">
<form action = "/join" method = "post">
<li>Create a unique Username: <input type = "text" name = "username" placeholder = "no spaces, please"> </li>
<li>Create a password: <input type = "text" name = "password" placeholder = "cannot be left blank"></li>
<li>Where is your hometown?<input type = "text" name = "hometown"> </li>
<li>Who is your favorite drummer?<input type = "text" name = "favorite_drummer"> </li>
<br><br>
<input type = "submit" value = "Create Account">
</form>
</ul>