<center>
<h2>Log Practice Session Info</h3>


<% @practice.each do |i| %>

<p><%= i.lesson.exercise %> - last BMP <%= i.current %></p>
<% end %>





- radio buttons display Lessons you already have logged
- option to add from existing exercises
- option to create a new exercise (takes you to 'add_lesson')


- Finished Button, takes you to profile page

</center>