<center><h3>Please Log In to Access your Account</h3>


<ul style="list-style-type:none">
<form action = "/login" method = "post">
<li><input type = "text" name = "username" placeholder = "username"> </li>
<li><input type = "password" name = "password" placeholder = "password"></li>

<br><br>
<input type = "submit" value = "Log In">
</form>
</ul>
</center>