<center><h2>Welcome to our Drummers Community!</h2>

<h3>We currently have <%= @users.length %> members!</h3>
<br><br>
<p>Feel free to checkout our Community Page and Leaderboard page and also to checkout individual profiles and practice descriptions.</p>
<br><br>
<p>Perhaps then you would like to Log In, or Create a <i>free account</i> and join us!</p>

</center>