<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Drummers Community Practice App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
<center><h1><i>Drummers of the World Unite!</i></h1></center>
<% if logged_in? %>
<center><h5>Logged in as: <%= current_user.username  %></h5></center>
<% end %>
 <table border="5" width="100%" 
           align="center">

<tr bgcolor="lightblue">
<% if logged_in? %>
<td><form action="/profile/<%=current_user.id%>">
    <input type="submit" value="My Profile" <button style="background-color:black; border-color:gray; color:white">
</form></td>
<td>
<form action="/practice/<%=current_user.id%>">
    <input type="submit" value="Log Practice Session" <button style="background-color:black; border-color:gray; color:white">
</form>
</td>

<% end %>
<% if !logged_in? %>
<td>

<form action="/join">
    <input type="submit" value="Create Account" <button style="background-color:black; border-color:gray; color:white">
</form>


</td>
<td>
<form action="/login">
    <input type="submit" value="Log In" <button style="background-color:black; border-color:gray; color:white">
</form>
</td>
<% end %>


<td>

<form action="/leaders">
    <input type="submit" value="Leader Board" <button style="background-color:black; border-color:gray; color:white">
</form>

</td>


<td>

<form action="/community">
    <input type="submit" value="Community Page" <button style="background-color:black; border-color:gray; color:white">
</form>


</td>

<% if logged_in? %>
<td>

<form action="/logout">
    <input type="submit" value="Log Out" <button style="background-color:black; border-color:gray; color:white">
</form>




<% end %>
</tr>
</table>


        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Tony Lepore of ViolaCello StageWorks</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
