<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Drummers Community Practice App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
    <table border = "5" width="100%" align="center">
    <tr bgcolor="black">
  <td align="center" style="width:200px; height:200px"><img width="100%" height="100%" src="https://rlv.zcache.com/drummers_rule_fun_drummer_percussionist_classic_round_sticker-r9b30f28d00ee406ab73d69982bada28a_0ugmp_8byvr_540.jpg" /></td>
  <td align="center" ><center><h1 style="color:white;"><i>Drummers of the World Unite!</i></h1></center></td>
  <td align="center" style="width:200px; height:200px" ><img width="100%" height="100%" src="https://rlv.zcache.com/rock_n_roll_drums_square_sticker-rb942d00ac7ed449dadf3bb0bda2ef60d_v9wf3_8byvr_307.jpg" /></td>
    </tr>
    </table>

<% if logged_in? %>
<center><h5>Logged in as: <%= current_user.username  %></h5></center>
<% end %>
 <table border="5" width="100%" 
           align="center">

<tr bgcolor="lightblue">
<% if logged_in? %>
<td><form action="/profile/<%=current_user.id%>">
    <input type="submit" value="My Profile" <button style="background-color:black; border-color:gray; color:white">
</form></td>
<td>
<form action="/practice/<%=current_user.id%>">
    <input type="submit" value="Log Practice Session" <button style="background-color:black; border-color:gray; color:white">
</form>
</td>

<% end %>
<% if !logged_in? %>
<td>

<form action="/join">
    <input type="submit" value="Create Account" <button style="background-color:black; border-color:gray; color:white">
</form>


</td>
<td>
<form action="/login">
    <input type="submit" value="Log In" <button style="background-color:black; border-color:gray; color:white">
</form>
</td>
<% end %>


<td>

<form action="/leaders">
    <input type="submit" value="Leader Board" <button style="background-color:black; border-color:gray; color:white">
</form>

</td>


<td>

<form action="/community">
    <input type="submit" value="Community Page" <button style="background-color:black; border-color:gray; color:white">
</form>


</td>

<% if logged_in? %>
<td>

<form action="/logout">
    <input type="submit" value="Log Out" <button style="background-color:black; border-color:gray; color:white">
</form>




<% end %>
</tr>
</table>


        <%= yield %>

      <footer class="branding">



<img style = "width:200px; height:200px float:left" src="https://media.gettyimages.com/photos/photo-of-elvin-jones-photo-by-michael-ochs-archivesgetty-images-picture-id74278761?s=612x612">
       <small>&copy; 2020 <strong>Tony Lepore of ViolaCello StageWorks, LLC - Drummers Community Application</strong></small>

<img style = "width:200px; height:180px; float:right" src="https://images.squarespace-cdn.com/content/v1/5466585be4b000e37a0a4b33/1451603352113-3DOK3KW4E20UKPUTOUCQ/ke17ZwdGBToddI8pDm48kBHGULfC6PVbvHrwFi5fUoVZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVHXa5h52irDYPne5Cf54SlpQyqwaFg29MWlv0mj93AhFDWkRXvn_xe-L4PTIm6iV8U/ElvinJones_LeeTanner.jpg?format=750w">


      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
